/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.home 
html {
     position: fixed;
   }

.site-wrapper {
  overflow-x:hidden
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: #F4F4ED;
}

.bold {
  font-weight: bold;
}


/*  */


/* Cursor */

.img {
  position: absolute;
  width: 64px;
  height: 64px;
  transition-timing-function: ease-out;
  pointer-events: none;
  z-index: 6;

  top: -200%;

  visibility: visible;

}

.img-1 {
  background: url(../img/img-1.png) no-repeat 50% 50%;
  background-size: cover;
  transition-duration: 1000ms;
}

.img-2 {
  background: url(../img/img-2.png) no-repeat 50% 50%;
  background-size: cover;
  transition-duration: 800ms;
}

.img-3 {
  background: url(../img/img-3.png) no-repeat 50% 50%;
  background-size: cover;
  transition-duration: 600ms;
}

.img-4 {
  background: url(../img/img-4.png) no-repeat 50% 50%;
  background-size: cover;
  transition-duration: 400ms;
}

.img-5 {
  background: url(../img/img-5.png) no-repeat 50% 50%;
  background-size: cover;
  transition-duration: 200ms;
  
}


/* NAV styles */

   .logoWrapper {
     display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     align-items: center;
     justify-content: center;
   }

.logo {
  width: 240px;
}

nav {
padding: 2.5vw 0;
}

nav a {
text-decoration: none;
color: #222;
text-transform: uppercase;
font-weight: bold;
font-size: 1.5vw;
 }

nav a:hover {
  border-bottom: #222 solid 2px;
}

.logoHover:hover {
  border: none;
}

nav .active {
  border-bottom: #222 solid 2px;
}
nav .left {
  padding-right: 10vw;
}

nav .right {
  padding-left: 10vw;
}

/*  HOME PAGE STYLES */

.flex-grid-center {
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col {
  width: auto;
  text-align: center;
  padding: 0 12px;
  float: left;
  z-index: 4;
}
.colText {
  
  text-transform: uppercase;
  text-align: center;

  font-size: 2vw;
  line-height: 1.1vw;
  font-weight: bold;

}

.colTextWrapper {
  text-decoration: none;
  color: #222;
}

.homeSection {
  padding-top: 35vh;

}

.lines {
  z-index: 5;
  pointer-events: none;
}

.line1 { 
  position: absolute;

 bottom: 24.5vh;
  width: 28%;
  left: 9vw;
}

.line2 { 
  position: absolute;
  width: 27%;
  bottom: 13.75vh;
  left: 34vw;
}

.line3 { 
  position: absolute;

  bottom: 3vh;
  height: 13%;
  right: 11vw;
}


/*  BLOB */

.blob-wrapper {
  overflow: hidden;
}

@keyframes from0to360 {
  from{transform:rotate(0);}
  to{transform:rotate(360deg);}
}
@keyframes from360to0 {
  from{transform:rotate(360deg);}
  to{transform:rotate(0deg);}
}
@keyframes scaleUp {
  from{transform:scale(0.8);}
  to{transform:scale(1);}
}
@keyframes scaleDown {
  from{transform:scale(1);}
  to{transform:scale(0.8);}
}

@keyframes from360to0scaled {
  from{transform:rotate(360deg) scale(1.1); }
  to{transform:rotate(0deg) scale(0.25);}
}

.blob-svg {
  
  will-change: transform;
  position: absolute;
  z-index: -1;
  opacity: 1;
  filter: blur(20px);
  overflow: hidden;
  visibility: default;
}

.blob-svg-home1 {
  transform: translate(-50%, -50%);
  left: 10%;
  bottom: -90%;
}

.blob-svg-home2 {
  top: -140%;
  right: -100%;
}

.blob-svg-contact {
  top: 45%;
  left: 40%;
}

.blob-svg-password {
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 850px;
}


.circle1 {
  animation: from0to360 10s linear infinite;
  cx: 150;
  cy: 145;
  r: 100;
  fill: white;
  transform-origin: 145px 150px;
}
.circle2 {
  animation: from360to0 20s linear infinite;
  cx: 150;
  cy: 155;
  r: 100;
  fill: white;
  transform-origin: 160px 150px;
}

.circle3 {
  animation: from0to360 30s linear infinite alternate;
  cx: 145;
  cy: 150;
  r: 100;
  fill: white;
  transform-origin: 150px 145px;
}

.circle4 {
  animation: from360to0 25s linear infinite;
  cx: 155;
  cy: 150;
  r: 100;
  fill: white;
  transform-origin: 150px 155px;
}

.ellipse1 {
  animation: from360to0scaled 20s linear infinite alternate;
  rx: 120;
  ry: 100;
  cx: 150;
  cy: 150;
  fill: white;
  transform-origin: 130px 155px;
}
.ellipse2 {
  animation: from0to360 15s linear infinite;
  rx: 120;
  ry: 100;
  cx: 150;
  cy: 150;
  fill: white;
  transform-origin: 150px 155px;
}

/* CONTACT */

.contactCol {
  width: 50%;
}

.contactText {
  text-transform: uppercase;

  font-weight: bold;
  text-align: center;
  font-size: 18px;
  padding-bottom: 0px;
  margin: 0;
}

.contactLink {
  text-decoration: none;
  color: #222;
}

.contactLink:hover {
  border-bottom:#222 solid 2px;
}

.contactHeader {
  padding: 10vh 0 3.5vh;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  font-size: 27px;
  text-align: center;
}


/* PASSWORD */
.passwordSection {
  padding-top: 20vh;
}

.passwordTitle {
  color: #222!important;
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 24px;
}

.passwordInput {
  line-height: 1.9;
    width: 280px;
}

.passwordBtn { 
  display: block;
  margin: 24px auto;
  padding: 12px 18px;
  font-weight: bold;
    color: white;
    background-color: #222;
    border-width: 2px;
    border-style: solid;
    border-color: #000;
}

/*  VIDEO */

.work {
  overflow: scroll;
}
.videoRowStart {
  padding-top: 3.5vh;
}

.videoRow .col {
  padding: 0 1.25vw 2.5vw 1.25;
  margin: 0;
}

.videoCol {
  width: 30%;
}

.videoRowEnd {
  padding-bottom: 3.5vh;
}
@media (max-width: 1360px) {

  .blob-svg-home2 {

    top: -1000px;
    right: -1800px;
  }


}

@media (max-width: 1024px) {

  /* NAV */
  nav a {
    font-size: 2.6vw;
  }

  .logo {
    width: 200px;
  }
  .homeSection {
    padding-top: 20vh;
  }

  .col {
    padding: 0 10px;
  }
  
  .colText{
    font-size: 2.3vw;
  }

  .line1 { 
    position: absolute;
  
    bottom: 41vh;
    width: 29%;
    left: 4vw;
  }
  
  .line2 { 
    position: absolute;
    width: 30%;
    bottom: 21vh;
    left: 32vw;
  }
  
  .line3 { 
    position: absolute;
    bottom: 8vh;
    height: 10%;
    right: 4.5vw;
  }


  .blob-svg-home1 {
    left: 10%;
    bottom: -90%;
  }
  
  .blob-svg-home2 {

    top: -1000px;
    right: -1800px;
  }
  
  .blob-svg-contact {
    top: 45%;
    left: 40%;
  }
  
  .blob-svg-password {
    top: 49%;
    left: 50%;
    width: 800px;
  }
  


  /* CONTACT */

  .contactCol {
    width: 60%;
  }


/* WORK */

.videoCol {
  width: 40%;
}

}

@media (max-width: 768px) { 



  .blob-svg-home1 {
    left: -10%;
    bottom: -110%;
  }
  
  .blob-svg-home2 {
  
    top: -1000px;
    right: -2040px;
  }


}
@media (max-width: 640px) { 

  .home-bg {
    background-image: url(../mobile-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%; 
    overflow: hidden;

    position: fixed
  }


  .img {
    visibility: hidden;
  }

/*  NAV */
.logo {
  width: 150px;
}
nav .left {
  padding-right: 5vw;
}

nav .right {
  padding-left: 5vw;
}

nav a {
  font-size: 3vw;
}

.homeSection {
  padding-top: 15vh;
}

.col {
  padding: 0 8px;
}

.colText{
  font-size: 2.3vw;
}

.line1 { 
  position: absolute;

  bottom: 49.25vh;
  width: 30%;
  left: 1vw;
}

.line2 { 
  position: absolute;
  width: 32%;
  bottom: 48vh;
  left: 31vw;
}

.line3 { 
  position: absolute;
  bottom: 42.5vh;
  height: 7%;
  right: 1vw;
}


.home-bg .blob-svg {
  visibility: hidden;
}


.blob-svg-contact {
  top: 35%;
  left: 20%;


}

.blob-svg-password {
  top: 45.5%;
  left: 50%;
  width: 450px;

} 





/* CONTACT */
.contactCol {
  width: 90%;

}

.contactHeader {
  font-size: 4.5vw;
}

/* WORK */

.videoCol {
  width: 45%;
}

}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

